<div class="row">
  <div class="col-sm-12">
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-2">
            <div class="sidebar__projects">
              <app-projects-sidebar #sideBar></app-projects-sidebar>
            </div>
          </div>
          <div class="col-sm-10">

            <div class="row">
              <div class="pull-left">
                <h2 class="col-sm-10"> Projects </h2>
              </div>
              <div class="pull-right add-project">
                <a md-raised-button color="accent" routerLink="/project/new">
                  <md-icon>add</md-icon>
                  Add new project</a>
              </div>
            </div>
            <md-list>
              <md-input-container>
                <input mdInput placeholder="Your current projects" (input)="filterProjects($event)">
              </md-input-container>

              <md-divider></md-divider>
              <md-list-item *ngFor="let project of projects  | myfilter:{filter:'name',searchPhrase:filterargs}|myfilter:{filter:'owner',searchPhrase:sideBar.chosenManager}" (click)="router.navigateByUrl('/project/'+project.name)" [@anim]="project">
                <md-icon md-list-icon>chrome_reader_mode</md-icon>
                <h4 md-line>{{project.name}}</h4>
                <p md-line> {{project.start | date}} - {{project.end | date}} </p>
              </md-list-item>
            </md-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
