.sidebar__projects{
  float:left;
  background-color: #f7fafc !important;
  border-right: 1px solid #e6e6e6;
  margin:0;
  padding:20px;
}

.projects__content{
  float:right;
}

.add-project{
  margin-top:20px;
}
