<div class="row">
  <div class="col-sm-12">
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-2">
            <div class="sidebar__team">
              <app-team-call-sidebar></app-team-call-sidebar>
            </div>
          </div>
          <div class="col-sm-10">
            <h2> People whereabouts</h2>

          <table>
            <thead>
            <tr>
              <th class="month">May 2017</th>
              <th class="day__holiday">1</th>
              <th class="day">2</th>
              <th class="day__holiday">3</th>
              <th class="day">4</th>
              <th class="day">5</th>
              <th class="day__week">6</th>
              <th class="day__week">7</th>
              <th class="day">8</th>
              <th class="day">9</th>
              <th class="day">10</th>
              <th class="day">11</th>
              <th class="day">12</th>
              <th class="day__week">13</th>
              <th class="day__week">14</th>
              <th class="day">15</th>
              <th class="day">16</th>
              <th class="day">17</th>
              <th class="day">18</th>
              <th class="day">19</th>
              <th class="day__week">20</th>
              <th class="day__week">21</th>
              <th class="day">22</th>
              <th class="day">23</th>
              <th class="day">24</th>
              <th class="day__holiday">25</th>
              <th class="day">26</th>
              <th class="day__week">27</th>
              <th class="day__week">28</th>
              <th class="day">29</th>
              <th class="day">30</th>
              <th class="day">31</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="title">Week</td>
              <td class="weekNumber" colspan="7">18</td>
              <td class="weekNumber" colspan="7">19</td>
              <td class="weekNumber" colspan="7">20</td>
              <td class="weekNumber" colspan="7">21</td>
              <td class="weekNumber" colspan="3">22</td>
            </tr>
            <tr>
              <td class="title"><md-icon>keyboard_arrow_down</md-icon>Name</td>
              <td class="day__holiday"><span mdTooltip="Monday">Mo</span></td>
              <td class="day"><span mdTooltip="Tuesday">Tu</span></td>
              <td class="day__holiday"><span mdTooltip="Wednesday">We</span></td>
              <td class="day"><span mdTooltip="thursday">Th</span></td>
              <td class="day"><span mdTooltip="Friday">Fr</span></td>
              <td class="day__week"><span mdTooltip="Saturday">Sa</span></td>
              <td class="day__week"><span mdTooltip="Sunday">Su</span></td>
              <td class="day"><span mdTooltip="Monday">Mo</span></td>
              <td class="day"><span mdTooltip="Tuesday">Tu</span></td>
              <td class="day"><span mdTooltip="Wednesday">We</span></td>
              <td class="day"><span mdTooltip="thursday">Th</span></td>
              <td class="day"><span mdTooltip="Friday">Fr</span></td>
              <td class="day__week"><span mdTooltip="Saturday">Sa</span></td>
              <td class="day__week"><span mdTooltip="Sunday">Su</span></td>
              <td class="day"><span mdTooltip="Monday">Mo</span></td>
              <td class="day"><span mdTooltip="Tuesday">Tu</span></td>
              <td class="day"><span mdTooltip="Wednesday">We</span></td>
              <td class="day"><span mdTooltip="thursday">Th</span></td>
              <td class="day"><span mdTooltip="Friday">Fr</span></td>
              <td class="day__week"><span mdTooltip="Saturday">Sa</span></td>
              <td class="day__week"><span mdTooltip="Sunday">Su</span></td>
              <td class="day"><span mdTooltip="Monday">Mo</span></td>
              <td class="day"><span mdTooltip="Tuesday">Tu</span></td>
              <td class="day"><span mdTooltip="Wednesday">We</span></td>
              <td class="day__holiday"><span mdTooltip="thursday">Th</span></td>
              <td class="day"><span mdTooltip="Friday">Fr</span></td>
              <td class="day__week"><span mdTooltip="Saturday">Sa</span></td>
              <td class="day__week"><span mdTooltip="Sunday">Su</span></td>
              <td class="day"><span mdTooltip="Monday">Mo</span></td>
              <td class="day"><span mdTooltip="Tuesday">Tu</span></td>
              <td class="day"><span mdTooltip="Wednesday">We</span></td>
            </tr>
            <tr>
              <td class="title">Patryk Zientek</td>
              <td class="day__holiday" (click)="invokeAction()"></td>
              <td class="busy_day" (click)="invokeAction()"><span mdTooltip="Home office">H</span></td>
              <td class="day__holiday" (click)="invokeAction()"></td>
              <td class="busy_day" (click)="invokeAction()"></td>
              <td class="busy_day" (click)="invokeAction()"></td>
              <td class="day__week" (click)="invokeAction()"></td>
              <td class="day__week" (click)="invokeAction()"></td>
              <td class="busy_day" (click)="invokeAction()"><span mdTooltip="Vacation">V</span></td>
              <td class="busy_day" (click)="invokeAction()"></td>
              <td class="busy_day" (click)="invokeAction()"></td>
              <td class="busy_day" (click)="invokeAction()"><span mdTooltip="Training">T</span></td>
              <td class="busy_day" (click)="invokeAction()"></td>
              <td class="day__week" (click)="invokeAction()"></td>
              <td class="day__week" (click)="invokeAction()"></td>
              <td class="busy_day" (click)="invokeAction()"></td>
              <td class="busy_day" (click)="invokeAction()"><span mdTooltip="Sweden">S</span></td>
              <td class="busy_day" (click)="invokeAction()"></td>
              <td class="busy_day" (click)="invokeAction()"></td>
              <td class="busy_day" (click)="invokeAction()"></td>
              <td class="day__week" (click)="invokeAction()"></td>
              <td class="day__week" (click)="invokeAction()"></td>
              <td class="busy_day" (click)="invokeAction()"></td>
              <td class="busy_day" (click)="invokeAction()"></td>
              <td class="busy_day" (click)="invokeAction()"><span mdTooltip="Berlin">B</span></td>
              <td class="day__holiday" (click)="invokeAction()"></td>
              <td class="busy_day" (click)="invokeAction()"></td>
              <td class="day__week" (click)="invokeAction()"></td>
              <td class="day__week" (click)="invokeAction()"></td>
              <td class="busy_day" (click)="invokeAction()"></td>
              <td class="busy_day" (click)="invokeAction()"></td>
              <td class="busy_day" (click)="invokeAction()"></td>
            </tr>
            <tr>
              <td class="title">Świąć, Marcin</td>
              <td class="day__holiday"></td>
              <td class="busy_day"></td>
              <td class="day__holiday"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__holiday"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
            </tr>
            <tr>
              <td class="title">Blachnicki Paweł</td>
              <td class="day__holiday"></td>
              <td class="busy_day"></td>
              <td class="day__holiday"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__holiday"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
            </tr>
            <tr>
              <td class="title">Domagała Adam</td>
              <td class="day__holiday"></td>
              <td class="busy_day"></td>
              <td class="day__holiday"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__holiday"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
            </tr>
            <tr>
              <td class="title">Szafarski Michał</td>
              <td class="day__holiday"></td>
              <td class="busy_day"></td>
              <td class="day__holiday"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__holiday"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
            </tr>
            <tr>
              <td class="title">Karcz Jakub</td>
              <td class="day__holiday"></td>
              <td class="busy_day"></td>
              <td class="day__holiday"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"><span mdTooltip="Day off">D</span></td>
              <td class="busy_day"><span mdTooltip="Day off">D</span></td>
              <td class="busy_day"><span mdTooltip="Day off">D</span></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"><span mdTooltip="Amsterdam">A</span></td>
              <td class="busy_day"><span mdTooltip="Amsterdam">A</span></td>
              <td class="busy_day"><span mdTooltip="Amsterdam">A</span></td>
              <td class="day__holiday"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
            </tr>
            <tr>
              <td class="title">Kędziora Lukasz</td>
              <td class="day__holiday"></td>
              <td class="busy_day"></td>
              <td class="day__holiday"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"><span mdTooltip="Berlin">B</span></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"><span mdTooltip="Berlin">B</span></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="day__holiday"></td>
              <td class="busy_day"></td>
              <td class="day__week"></td>
              <td class="day__week"></td>
              <td class="busy_day"></td>
              <td class="busy_day"></td>
              <td class="busy_day"><span mdTooltip="Berlin">B</span></td>
            </tr>
            </tbody>
          </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
