.sidebar__team{

  float:left;
  background-color: #f7fafc !important;

  border-right: 1px solid #e6e6e6;
  margin:0;
  padding:20px;
}

.team__content{
  float:right;
}


//team call

th.month {
  background:#f90;
  border-top: 1px solid #000000;
  border-right: 0px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  color: #ffffff;
  font-weight: normal;
  padding-left: 4px;
  padding-right: 14px;
  padding-bottom: 4px;
  padding-top: 4px;
  width: auto;
}


td.day, th.day {
  background-color: #9e9e9e;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 0px solid #000000;
  color: #000000;
  font-size: 10pt;
  text-align: center;

  padding:8px;
}

td.day__holiday, th.day__holiday  {
  background-color: #a6dbde;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 0px solid #000000;
  color: #000000;
  font-size: 10pt;
  text-align: center;
  padding:8px;
}

td.day__week, th.day__week{
  background-color: #4caf50;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 0px solid #000000;
  color: #000000;
  font-size: 10pt;
  text-align: center;
  padding:8px;
}

td.busy_day {
  background-color: #FFFFFF;
  border-top: 0px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  color: #000000;
  font-size: 8pt;
  text-align: center;
}

td.weekNumber {
  background-color: #007cc7;
  border-top: 0px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  color: #fff;
  font-size: 10pt;
  text-align: center;
}

td.title {
  background-color: #eee;
  border-top: 0px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  color: #000000;
  font-weight: normal;
  padding:8px;
}
