// colors
$greyLighter: #F7F7F7;
$greyLight: #d3d3d3;
$grey: #EBEEF4;
$greyDarker: #969696;
$red: #e50000;
$orange: #ffc116;
$white: #fff;
$mid-blue: #0085c7;
$light-green: #82c745;
$primaryColor:#ff9800;
$secodnaryColor:#172b47;
$betterBlack:#172b47;
//values

