* { box-sizing:border-box; }

html {
  height:100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  height:100%;
  background: #eee;
  -webkit-font-smoothing: antialiased;
}


a {
  color: #172b47;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ff9800;
    text-decoration: none;
  }

  &:focus {
    @include tab-focus;
  }
}

h2 {

  font-size:24px;
  font-weight: 400;
  margin:20px 0;

}

h3 {

  font-size:18px;
  font-weight: 400;
  margin: 15px 0;

}

h4 {

  font-size:14px;

  &.filter {
    font-size: 15px;
    margin-bottom: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #aaa;
    text-shadow: 1px 1px 0 rgba(255,255,255,.8);
  }
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);

  .panel-body {
   display:table-row; // firefox hacks etc
    height:100%;

    &-withoutFilter{
      padding:30px;
    }

  }

}

.content{


  &__sidebar {
    width: 20%;
    background-color: #f7fafc !important;
    display: table-cell;
    margin:0;
    padding:20px;
  }

  &__box{

    border-left: 1px solid #e6e6e6;
    width:100%;
    display:table-cell;
    padding:20px;

    &__header {
      margin-bottom:20px;
    }

  }



}

.top-buffer {
  margin-top:20px;
}


/** add additional css for material design */

.mat-list-item:hover {
  background-color: #e8f6ff;
  border-bottom-color: #d4e2eb;
}

.mat-list, .mat-nav-list {
  padding-bottom:8px;
}


.view-selector {
  //position: absolute;
  //right: 0;
  //bottom: -1px;
  //list-style: none;
  //white-space: nowrap;
  //padding: 0;
  //margin: 0;

  li {
    display: inline-block;
    font-size:12px;
    margin-left:10px;

    &.active {
      border-bottom:1px solid #111;
    }

    &:hover{
      cursor:pointer;
    }
  }

}
