<!-- Header Bar -->
<div class="row header">
  <div class="col-xs-12">
    <div class="pull-left">
        <a (click)="sidenav.toggle()">
          <md-icon class="menu__icon">menu</md-icon>
        </a>
    </div>
    <div class="user pull-right">
      <div class="item dropdown" uib-dropdown>
        <button md-icon-button [mdMenuTriggerFor]="menu">
          <md-icon class="menu__icon">more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
          <button md-menu-item>
            <md-icon>person_outline</md-icon>
            <span>Profile</span>
          </button>
          <button md-menu-item>
            <md-icon>power_settings_new</md-icon>
            <span>Logout</span>
          </button>
        </md-menu>
      </div>
      <div class="item dropdown" uib-dropdown>
        <a href="#" class="dropdown-toggle" >
         <md-icon class="noticifation__icon">notifications</md-icon>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-header">
            Notifications
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">Server Down!</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Header Bar -->
