ul.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #30426a;

  li a {
    color: #fff;
    display: block;
    float: left;
    text-decoration: none;
    width: 250px;
  }

  .sidebar-title {
    color: #738bc0;
    font-size: 12px;
    height: 35px;
    line-height: 40px;
    text-transform: uppercase;
    transition: all .6s ease 0s;
  }

  .sidebar-list {

    .menu-icon {
      float: right;
      padding-right: 29px;
      line-height: 40px;
      width: 70px;
    }

    a {
      text-indent: 25px;
      font-size: 15px;
      color: #b2bfdc;
      line-height: 40px;

      &:hover {
        color: #fff;
        border-left: 3px solid #e99d1a;
        text-indent: 22px;
        background: #2d3e63;
      }
    }
  }

  .sidebar-main {
    height: 65px;

    a {
      font-size: 18px;
      line-height: 60px;
    }
  }
}
