<h4 class="filter">Filter Projects</h4>
<md-input-container>
  <input mdInput placeholder="Filter by owner" [mdAutocomplete]="auto" [formControl]="ownerCtrl"  (blur)="check()"  >
  <!--this produces an animation while searching for the typed characters-->
  <span mdPrefix>
    loading
      <i [style.visibility]="true" class="fa fa-refresh fa-spin"
         style="font-size:14px;color:black;margin-right:5px"></i>
   </span>
</md-input-container>

<md-autocomplete #auto="mdAutocomplete" onchange="sth($event)"  >
  <md-option *ngFor="let owner of filteredOwners | async" [value]="owner"  (onSelectionChange)="selectedOwner($event, owner)"  >
    {{ owner }}
  </md-option>
</md-autocomplete>


<div class="panel-filter">
  <div class="panel-filter-heading">Status</div>
  <div class="panel-filter-body">
    <md-radio-group class="example-radio-group" [(ngModel)]="chosenStatus" (change)="filterByStatus.emit($event.value)">
      <md-radio-button class="example-radio-button label" *ngFor="let status of statuses" [value]="status">
        {{status}}
      </md-radio-button>
    </md-radio-group>
  </div>
</div>

<div class="panel-filter">
  <div class="panel-filter-heading">Tags</div>
  <div class="panel-filter-body">
    <section class="example-section">
      <md-checkbox class="example-margin label" *ngFor="let tag of tags" (change)="filterByTags.emit($event)" value="{{tag}}">{{tag}}</md-checkbox>
    </section>
  </div>
</div>


