<!--<h4 class="filter">Filter People</h4>-->
<!--<mat-input-container>-->
  <!--<input mdInput placeholder="Filter by person" [mdAutocomplete]="auto" [formControl]="stateCtrl">-->
<!--</mat-input-container>-->

<!--<mat-autocomplete #auto="mdAutocomplete">-->
  <!--<mat-option *ngFor="let state of filteredStates | async" [value]="state">-->
    <!--{{ state }}-->
  <!--</mat-option>-->
<!--</mat-autocomplete>-->

<!--<div class="panel-filter">-->
  <!--<div class="panel-filter-heading">Group</div>-->
  <!--<div class="panel-filter-body">-->
    <!--<mat-radio-group class="example-radio-group" [(ngModel)]="chosenManager">-->
      <!--<mat-radio-button class="example-radio-button label" *ngFor="let group of groups" [value]="group">-->
        <!--{{group}}-->
      <!--</mat-radio-button>-->
    <!--</mat-radio-group>-->
  <!--</div>-->
<!--</div>-->
