.panel-filter-heading {
  font-size: 15px;
  margin-bottom:20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #aaa;
  text-shadow: 1px 1px 0 rgba(255,255,255,.8);
}

.label {
  margin: 2px 0;
  padding: 0 3px;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.panel-filter{
  margin-bottom:20px;
}


.mat-input-table{
  font: 16px/1.5 VattenfallVoiceBook,Arial,sans-serif;
}
